USE [MilitaryFaculty]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AcademicDegreePromotions]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicDegreePromotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PromotedAt] [datetime] NOT NULL,
	[TargetAcademicDegree] [int] NOT NULL,
	[Professor_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AcademicDegreePromotions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Books]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[BookType] [int] NOT NULL,
	[PagesCount] [int] NOT NULL,
	[Author_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Books] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cathedras]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cathedras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Cathedras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Conferences]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conferences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Date] [datetime] NOT NULL,
	[ConferenceReport_ThemeActuality] [int] NOT NULL,
	[ConferenceReport_OrganizationCorrectness] [int] NOT NULL,
	[ConferenceReport_ReportMaterials] [int] NOT NULL,
	[ConferenceReport_ResultsUsage] [int] NOT NULL,
	[EventLevel] [tinyint] NOT NULL,
	[Curator_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Conferences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CouncilParticipations]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CouncilParticipations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NULL,
	[Participant_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CouncilParticipations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dissertations]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dissertations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[TargetAcademicRank] [int] NOT NULL,
	[State] [int] NOT NULL,
	[Author_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Dissertations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EfficiencyProposals]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EfficiencyProposals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
	[Author_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.EfficiencyProposals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Exhibitions]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exhibitions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Award] [int] NOT NULL,
	[EventLevel] [tinyint] NOT NULL,
	[Participant_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Exhibitions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InventiveApplications]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventiveApplications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Author_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.InventiveApplications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[People]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName_FirstName] [nvarchar](50) NOT NULL,
	[FullName_MiddleName] [nvarchar](50) NOT NULL,
	[FullName_LastName] [nvarchar](50) NOT NULL,
	[EnrollmentDate] [datetime] NOT NULL,
	[DismissalDate] [datetime] NULL,
	[MilitaryRank] [int] NOT NULL,
	[JobPosition] [int] NOT NULL,
	[AcademicRank] [int] NOT NULL,
	[AcademicDegree] [int] NOT NULL,
	[Cathedra_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.People] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Publications]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[PublicationType] [int] NOT NULL,
	[PagesCount] [int] NOT NULL,
	[Author_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Publications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Researches]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Researches](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[MaintainState] [int] NOT NULL,
	[Author_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Researches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
	[TargetAcademicRank] [int] NOT NULL,
	[Author_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ScienceRankMetricDefinitions]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScienceRankMetricDefinitions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[MaxValue] [int] NULL,
 CONSTRAINT [PK_dbo.ScienceRankMetricDefinitions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ScienceRankMetrics]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScienceRankMetrics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [int] NOT NULL,
	[Definition_Id] [int] NOT NULL,
	[ScienceRank_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ScienceRankMetrics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ScienceRanks]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScienceRanks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Cathedra_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ScienceRanks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ScientificExpertises]    Script Date: 29.07.2014 9:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScientificExpertises](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Type] [int] NOT NULL,
	[Author_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ScientificExpertises] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([Id], [Name], [CreatedAt], [BookType], [PagesCount], [Author_Id]) VALUES (1, N'Воинский устав в картинках. Для детей дошкольного возраста.', CAST(0x0000A37700968B57 AS DateTime), 1, 28, 2)
INSERT [dbo].[Books] ([Id], [Name], [CreatedAt], [BookType], [PagesCount], [Author_Id]) VALUES (2, N'Моя служба. Мемуары.', CAST(0x0000A37700968B57 AS DateTime), 0, 1411, 2)
SET IDENTITY_INSERT [dbo].[Books] OFF
SET IDENTITY_INSERT [dbo].[Cathedras] ON 

INSERT [dbo].[Cathedras] ([Id], [Name]) VALUES (1, N'Кафедра тактики')
INSERT [dbo].[Cathedras] ([Id], [Name]) VALUES (2, N'Кафедра связи')
INSERT [dbo].[Cathedras] ([Id], [Name]) VALUES (3, N'Кафедра ПВО')
SET IDENTITY_INSERT [dbo].[Cathedras] OFF
SET IDENTITY_INSERT [dbo].[Conferences] ON 

INSERT [dbo].[Conferences] ([Id], [Name], [Date], [ConferenceReport_ThemeActuality], [ConferenceReport_OrganizationCorrectness], [ConferenceReport_ReportMaterials], [ConferenceReport_ResultsUsage], [EventLevel], [Curator_Id]) VALUES (1, N'Конференция по вопросам морально-этического содержания курса молодого бойца в частях специального назначения военно-морского десанта Республики Беларусь', CAST(0x0000856500000000 AS DateTime), 1, 2, 0, 1, 0, 2)
INSERT [dbo].[Conferences] ([Id], [Name], [Date], [ConferenceReport_ThemeActuality], [ConferenceReport_OrganizationCorrectness], [ConferenceReport_ReportMaterials], [ConferenceReport_ResultsUsage], [EventLevel], [Curator_Id]) VALUES (2, N'Военно-научная конференция, посвященная 56-летию Великой Победы', CAST(0x0000911700000000 AS DateTime), 1, 2, 0, 1, 0, 2)
INSERT [dbo].[Conferences] ([Id], [Name], [Date], [ConferenceReport_ThemeActuality], [ConferenceReport_OrganizationCorrectness], [ConferenceReport_ReportMaterials], [ConferenceReport_ResultsUsage], [EventLevel], [Curator_Id]) VALUES (3, N'Вторая международная конференция', CAST(0x0000998900000000 AS DateTime), 1, 2, 0, 1, 0, 1)
SET IDENTITY_INSERT [dbo].[Conferences] OFF
SET IDENTITY_INSERT [dbo].[Exhibitions] ON 

INSERT [dbo].[Exhibitions] ([Id], [Name], [Date], [Award], [EventLevel], [Participant_Id]) VALUES (1, N'Военная научная выставка.', CAST(0x0000A37700000000 AS DateTime), 3, 0, 2)
INSERT [dbo].[Exhibitions] ([Id], [Name], [Date], [Award], [EventLevel], [Participant_Id]) VALUES (2, N'Тибо 2001.', CAST(0x0000A37700000000 AS DateTime), 1, 0, 2)
SET IDENTITY_INSERT [dbo].[Exhibitions] OFF
SET IDENTITY_INSERT [dbo].[People] ON 

INSERT [dbo].[People] ([Id], [FullName_FirstName], [FullName_MiddleName], [FullName_LastName], [EnrollmentDate], [DismissalDate], [MilitaryRank], [JobPosition], [AcademicRank], [AcademicDegree], [Cathedra_Id]) VALUES (1, N'Сергей', N'Николаевич', N'Касанин', CAST(0x0000A37700968A46 AS DateTime), NULL, 7, 7, 0, 0, 2)
INSERT [dbo].[People] ([Id], [FullName_FirstName], [FullName_MiddleName], [FullName_LastName], [EnrollmentDate], [DismissalDate], [MilitaryRank], [JobPosition], [AcademicRank], [AcademicDegree], [Cathedra_Id]) VALUES (2, N'Андрей', N'Васильевич', N'Кашкаров', CAST(0x0000A37700968A46 AS DateTime), NULL, 7, 7, 0, 0, 2)
INSERT [dbo].[People] ([Id], [FullName_FirstName], [FullName_MiddleName], [FullName_LastName], [EnrollmentDate], [DismissalDate], [MilitaryRank], [JobPosition], [AcademicRank], [AcademicDegree], [Cathedra_Id]) VALUES (3, N'Роман', N'Анатольевич', N'Градусов', CAST(0x0000A37700968A46 AS DateTime), NULL, 7, 7, 0, 0, 2)
SET IDENTITY_INSERT [dbo].[People] OFF
SET IDENTITY_INSERT [dbo].[Publications] ON 

INSERT [dbo].[Publications] ([Id], [Name], [CreatedAt], [PublicationType], [PagesCount], [Author_Id]) VALUES (1, N'Учебник по специальной подготовке', CAST(0x0000A37700968B28 AS DateTime), 2, 228, 2)
INSERT [dbo].[Publications] ([Id], [Name], [CreatedAt], [PublicationType], [PagesCount], [Author_Id]) VALUES (2, N'Учебник по тактической подготовке', CAST(0x0000A37700968B28 AS DateTime), 2, 141, 2)
INSERT [dbo].[Publications] ([Id], [Name], [CreatedAt], [PublicationType], [PagesCount], [Author_Id]) VALUES (3, N'Как стать младшим офицером, начальником радиостанций коротковолновых малой мощности Р142-Н, Р145-БН за 21 день или курс молодого связиста для чайников', CAST(0x0000A37700968B28 AS DateTime), 2, 1309, 4)
SET IDENTITY_INSERT [dbo].[Publications] OFF
SET IDENTITY_INSERT [dbo].[ScienceRankMetricDefinitions] ON 

INSERT [dbo].[ScienceRankMetricDefinitions] ([Id], [Name], [MaxValue]) VALUES (1, N'Полнота разработки планирующих документов', 0)
INSERT [dbo].[ScienceRankMetricDefinitions] ([Id], [Name], [MaxValue]) VALUES (2, N'Уровень соответствия тематики исследований', 0)
INSERT [dbo].[ScienceRankMetricDefinitions] ([Id], [Name], [MaxValue]) VALUES (3, N'Уровень ознакомления лиц из числа ППС с требованиями правовых актов', 0)
SET IDENTITY_INSERT [dbo].[ScienceRankMetricDefinitions] OFF
ALTER TABLE [dbo].[AcademicDegreePromotions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AcademicDegreePromotions_dbo.People_Professor_Id] FOREIGN KEY([Professor_Id])
REFERENCES [dbo].[People] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AcademicDegreePromotions] CHECK CONSTRAINT [FK_dbo.AcademicDegreePromotions_dbo.People_Professor_Id]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.People_Author_Id] FOREIGN KEY([Author_Id])
REFERENCES [dbo].[People] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_dbo.Books_dbo.People_Author_Id]
GO
ALTER TABLE [dbo].[Conferences]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Conferences_dbo.People_Curator_Id] FOREIGN KEY([Curator_Id])
REFERENCES [dbo].[People] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Conferences] CHECK CONSTRAINT [FK_dbo.Conferences_dbo.People_Curator_Id]
GO
ALTER TABLE [dbo].[CouncilParticipations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CouncilParticipations_dbo.People_Participant_Id] FOREIGN KEY([Participant_Id])
REFERENCES [dbo].[People] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CouncilParticipations] CHECK CONSTRAINT [FK_dbo.CouncilParticipations_dbo.People_Participant_Id]
GO
ALTER TABLE [dbo].[Dissertations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Dissertations_dbo.People_Author_Id] FOREIGN KEY([Author_Id])
REFERENCES [dbo].[People] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Dissertations] CHECK CONSTRAINT [FK_dbo.Dissertations_dbo.People_Author_Id]
GO
ALTER TABLE [dbo].[EfficiencyProposals]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EfficiencyProposals_dbo.People_Author_Id] FOREIGN KEY([Author_Id])
REFERENCES [dbo].[People] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EfficiencyProposals] CHECK CONSTRAINT [FK_dbo.EfficiencyProposals_dbo.People_Author_Id]
GO
ALTER TABLE [dbo].[Exhibitions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Exhibitions_dbo.People_Participant_Id] FOREIGN KEY([Participant_Id])
REFERENCES [dbo].[People] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Exhibitions] CHECK CONSTRAINT [FK_dbo.Exhibitions_dbo.People_Participant_Id]
GO
ALTER TABLE [dbo].[InventiveApplications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.InventiveApplications_dbo.People_Author_Id] FOREIGN KEY([Author_Id])
REFERENCES [dbo].[People] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InventiveApplications] CHECK CONSTRAINT [FK_dbo.InventiveApplications_dbo.People_Author_Id]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_dbo.People_dbo.Cathedras_Cathedra_Id] FOREIGN KEY([Cathedra_Id])
REFERENCES [dbo].[Cathedras] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_dbo.People_dbo.Cathedras_Cathedra_Id]
GO
ALTER TABLE [dbo].[Publications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Publications_dbo.People_Author_Id] FOREIGN KEY([Author_Id])
REFERENCES [dbo].[People] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Publications] CHECK CONSTRAINT [FK_dbo.Publications_dbo.People_Author_Id]
GO
ALTER TABLE [dbo].[Researches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Researches_dbo.People_Author_Id] FOREIGN KEY([Author_Id])
REFERENCES [dbo].[People] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Researches] CHECK CONSTRAINT [FK_dbo.Researches_dbo.People_Author_Id]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reviews_dbo.People_Author_Id] FOREIGN KEY([Author_Id])
REFERENCES [dbo].[People] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_dbo.Reviews_dbo.People_Author_Id]
GO
ALTER TABLE [dbo].[ScienceRankMetrics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScienceRankMetrics_dbo.ScienceRankMetricDefinitions_Definition_Id] FOREIGN KEY([Definition_Id])
REFERENCES [dbo].[ScienceRankMetricDefinitions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScienceRankMetrics] CHECK CONSTRAINT [FK_dbo.ScienceRankMetrics_dbo.ScienceRankMetricDefinitions_Definition_Id]
GO
ALTER TABLE [dbo].[ScienceRankMetrics]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScienceRankMetrics_dbo.ScienceRanks_ScienceRank_Id] FOREIGN KEY([ScienceRank_Id])
REFERENCES [dbo].[ScienceRanks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScienceRankMetrics] CHECK CONSTRAINT [FK_dbo.ScienceRankMetrics_dbo.ScienceRanks_ScienceRank_Id]
GO
ALTER TABLE [dbo].[ScienceRanks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScienceRanks_dbo.Cathedras_Cathedra_Id] FOREIGN KEY([Cathedra_Id])
REFERENCES [dbo].[Cathedras] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScienceRanks] CHECK CONSTRAINT [FK_dbo.ScienceRanks_dbo.Cathedras_Cathedra_Id]
GO
ALTER TABLE [dbo].[ScientificExpertises]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScientificExpertises_dbo.People_Author_Id] FOREIGN KEY([Author_Id])
REFERENCES [dbo].[People] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScientificExpertises] CHECK CONSTRAINT [FK_dbo.ScientificExpertises_dbo.People_Author_Id]
GO
